<div id="section-topbar" class>
	<div id="topbar-inner">
		<div class="container">
    <div id="section-topbar">
    	<div id="topbar-inner">
    		<div class="container">
    			<div class="row">
    				<div class="dropdown">
    					<ul id="nav" class="nav">
    						<li class="menu-item"><a class="smoothScroll" href="/" title="홈으로"><i class="fa fa-home"></i></br>홈으로</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/map" title="지도보기"><i class="fa fa-map-marker"></i></br>지도보기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/new" title="신고하기"><i class="fa fa-pencil"></i></br>제보하기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/light" title="Contact"><i class="fa fa-lightbulb-o"></i></br>밝은 길</a></li>
    					</ul><!--/ uL#nav -->
    				</div><!-- /.dropdown -->
    
    				<div class="clear"></div>
    			</div><!--/.row -->
    		</div><!--/.container -->
    
    		<div class="clear"></div>
    	</div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->

				<div class="clear"></div>
			</div><!--/.row -->
		</div><!--/.container -->

		<div class="clear"></div>
	</div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->

<div id="map" class="map_container"></div>

<div id="section-topbar-bt" class="navbar navbar-default navbar-fixed-bottom">
    	<div id="topbar-inner-bt">
    		<div class="container">
    			<div class="row">
    				<div class="dropdown">
    				    <!--<form id="search" action="#" method="post">-->
            <!--                <div id="label"><label for="search-terms" id="search-label">search</label></div>-->
            <!--                <div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Enter search terms..."></div>-->
            <!--            </form>-->
    					<ul id="nav" class="nav">
                            <li class="menu-item">
    					    <div class="btn-group">
    						  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search"></i></br>검색하기</a>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> <form class="navbar-form navbar-left"  method="post" action="/search">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Search" name="juso">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                  </form>
                                  </a></li>
                              </ul>
                            </div>
                            </li>
    					</ul><!--/ uL#nav -->
    				</div><!-- /.dropdown -->

				<div class="clear"></div>
			</div><!--/.row -->
		</div><!--/.container -->

		<div class="clear"></div>
	</div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->

<script>
var map = new naver.maps.Map('map', mapOptions);
    var mapOptions = {
        center: new naver.maps.LatLng(37.5072175 , 127.0459756), //지도의 초기 중심 좌표
        zoom: 12, //지도의 초기 줌 레벨
        minZoom: 1, //지도의 최소 줌 레벨
        zoomControlOptions: { //줌 컨트롤의 옵션
        position: naver.maps.Position.TOP_RIGHT
}};

    <% if @stx < @dtx && @sty < @dty %>
              var polyline = new naver.maps.Polyline({
            map: map,
              path : [
                new naver.maps.LatLng(<%= @stx %>,<%= @sty %>),
              new naver.maps.LatLng(37.5025141,127.0428068), //-> 역삼
              new naver.maps.LatLng(37.5058518,127.0411572),
              new naver.maps.LatLng(37.5068305,127.0401838),
              new naver.maps.LatLng(37.5077252,127.0431314),
              new naver.maps.LatLng(37.508241,127.0436431),
              new naver.maps.LatLng(37.5088796,127.0432997),
              new naver.maps.LatLng(37.50919,127.0443162),
              new naver.maps.LatLng(37.5101978,127.0438688), // -> 선정릉역
              new naver.maps.LatLng(<%= @dtx %>,<%= @dty %>)
             ],
             strokeWeight: 5,
             strokeColor: '#E51D1A'
              });
              
              var marker1 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5025141,127.0428068),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker2 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5058518,127.0411572),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker3 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5068305,127.0401838),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker4 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5077252,127.0431314),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
        var marker8 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.508241,127.0436431),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker5 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5088796,127.0432997),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker6 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5101978,127.0438688),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker7 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.50919,127.0443162),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
    <% elsif  @stx > @dtx && @sty < @dty %>
     var polyline = new naver.maps.Polyline({
        map: map,
        path: [
              new naver.maps.LatLng(<%= @stx %>,<%= @sty %>),
            new naver.maps.LatLng(37.5086085,127.0384757),
            new naver.maps.LatLng(37.5068305,127.0401838),
            new naver.maps.LatLng(37.5077252,127.0431314),
            new naver.maps.LatLng(37.5051336,127.047278),
            new naver.maps.LatLng(37.5055554,127.0484623),
            new naver.maps.LatLng(37.5044489,127.0490234),
            new naver.maps.LatLng(<%= @dtx %>,<%= @dty %>)
            ],
            strokeWeight: 5,
            strokeColor: '#E51D1A'
     });   
                var marker1 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5044489,127.0490234),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker2= new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5055554,127.0484623),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker3 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5077252,127.0431314),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker4 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5025141,127.0428068),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker5 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5068305,127.0401838),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker6 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5086085,127.0384757),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    <% elsif  @stx < @dtx && @sty > @dty %>
           var polyline = new naver.maps.Polyline({
        map: map,
        path:  [
                new naver.maps.LatLng(<%= @stx %>,<%= @sty %>),
              new naver.maps.LatLng(37.5044489,127.0490234), //-> 선릉역
              new naver.maps.LatLng(37.5055554,127.0484623),
              new naver.maps.LatLng(37.5051336,127.047278),
              new naver.maps.LatLng(37.5077252,127.0431314),
              new naver.maps.LatLng(37.5068305,127.0401838),
              new naver.maps.LatLng(37.5086085,127.0384757),	//-> 언주역
            new naver.maps.LatLng(<%= @dtx %>,<%= @dty %>)
            ],
            strokeWeight: 5,
            strokeColor: '#E51D1A'
           });    
           
           var marker1 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5044489,127.0490234),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker2= new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5055554,127.0484623),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker3 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5077252,127.0431314),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker4 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5025141,127.0428068),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker5 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5068305,127.0401838),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    var marker6 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5086085,127.0384757),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    <% else %>
    var polyline = new naver.maps.Polyline({
        map: map,
        path:[
            new naver.maps.LatLng(<%= @stx %>,<%= @sty %>),
            new naver.maps.LatLng(37.5101978,127.0438688),
            new naver.maps.LatLng(37.50919,127.0443162),
              new naver.maps.LatLng(37.5088796,127.0432997),
              new naver.maps.LatLng(37.508241,127.0436431),
            new naver.maps.LatLng(37.5077252,127.0431314),
              new naver.maps.LatLng(37.5068305,127.0401838),
              new naver.maps.LatLng(37.5058518,127.0411572),
              new naver.maps.LatLng(37.5025141,127.0428068),
              new naver.maps.LatLng(<%= @dtx %>,<%= @dty %>)
             ],
             strokeWeight: 5,
             strokeColor: '#E51D1A'
    });     
    
                var marker1 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5025141,127.0428068),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker2 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5058518,127.0411572),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker3 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5068305,127.0401838),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });  
    
    var marker4 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5077252,127.0431314),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
        var marker8 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.508241,127.0436431),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker5 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5088796,127.0432997),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker6 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5101978,127.0438688),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
            var marker7 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.50919,127.0443162),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    }); 
        <% end %>
var marker1 = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.5025141,127.0428068),
        map: map,
        icon: {
                url: "<%= asset_path( "5.png")%>" ,
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });    

    

function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

// naver.maps.Event.addListener(map, 'click', function(e) {
//     post_to_url('/dot', {input_x_light : e.coord.y, input_y_light : e.coord.x});
// });

naver.maps.Event.addListener(map, 'rightclick', function(e) {
    var coordHtml = 'Coord: '+ e.coord +'<br />Point: '+ e.point +'<br />Offset: '+ e.offset;

    menuLayer.show().css({
        left: e.offset.x,
        top: e.offset.y
    }).html(coordHtml);
});


function onSuccessGeolocation(position) {
    var location = new naver.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

    map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    map.setZoom(12); // 지도의 줌 레벨을 변경합니다.

    // if(location !== null){
    // map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    // map.setZoom(12); // 지도의 줌 레벨을 변경합니다.
    // } else{
    // location = new naver.maps.LatLng(position.coords.latitude,
    //                                      position.coords.longitude);
    // map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    // map.setZoom(12); // 지도의 줌 레벨을 변경합니다.
    // }
}


function onErrorGeolocation() {
    var center = map.getCenter();

}

$(window).on("load", function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
    } else {
        var center = map.getCenter();

    }
});

// naver.maps.Event.addListener(map, 'click', function(a) {
//     naver.maps.Event.addListener(map, 'click', function(e) {
//         var det_point_x = e.coord.y;
//         var det_point_y = e.coord.x;
//         var sta_point_x = a.coord.y;
//         var sta_point_y = a.coord.x;
        
//         post_to_url('/show', {st_x: sta_point_x, st_y: sta_point_y, dt_x: det_point_x, dt_y: det_point_y  });
//     });
        
// });

</script>