<style>
    .wrap {position: absolute;left: 0;bottom: -12px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .mess{left:10;}
    /*.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}*/
    /*.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}*/
    /*.info .link {color: #5085BB;}*/
</style>
    
</style>

<div id="wrap">

    <div id="section-topbar">
    	<div id="topbar-inner">
    		<div class="container">
    			<div class="row">
    				<div class="dropdown">
    					<ul id="nav" class="nav">
    						<li class="menu-item"><a class="smoothScroll" href="/" title="홈으로"><i class="fa fa-home"></i></br>홈으로</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/map" title="지도보기"><i class="fa fa-map-marker"></i></br>지도보기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/new" title="신고하기"><i class="fa fa-pencil"></i></br>제보하기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/light" title="Contact"><i class="fa fa-lightbulb-o"></i></br>밝은 길</a></li>
    					</ul><!--/ uL#nav -->
    				</div><!-- /.dropdown -->
    
    				<div class="clear"></div>
    			</div><!--/.row -->
    		</div><!--/.container -->
    
    		<div class="clear"></div>
    	</div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->
    
        <div id="map" class="map_container"></div>
    </div>
     



<div id="section-topbar-bt" class="navbar navbar-default navbar-fixed-bottom">
    	<div id="topbar-inner-bt">
    		<div class="container">
    			<div class="row">
    				<div class="dropdown">
    				    <!--<form id="search" action="#" method="post">-->
            <!--                <div id="label"><label for="search-terms" id="search-label">search</label></div>-->
            <!--                <div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Enter search terms..."></div>-->
            <!--            </form>-->
    					<ul id="nav" class="nav">
    					    <li class="menu-item">
    					    <div class="btn-group">
    						  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-clock-o"></i></br>시간별</a>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-clock fa-fw"></i> Edit</a></li>
                                <li><a href="#"><i class="fa fa-clock fa-fw"></i> Delete</a></li>
                                <li><a href="#"><i class="fa fa-clock fa-fw"></i> Ban</a></li>
                              </ul>
                            </div>
                            </li>
                            <li class="menu-item">
    					    <div class="btn-group">
    						  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-universal-access"></i></br>유형별</a>
                              <ul class="dropdown-menu">
                                <li id="click1"><a href="#"><i class="fa fa-universal-access fa-fw"></i> 성범죄</a></li>
                                <li id="click2"><a href="#"><i class="fa fa-universal-access fa-fw"></i> 퍽치기</a></li>
                                <li id="click3"><a href="#"><i class="fa fa-universal-access fa-fw"></i> 소매치기</a></li>
                              </ul>
                            </div>
                            </li>
                            <li class="menu-item">
    					    <div class="btn-group">
    						  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search"></i></br>검색하기</a>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> <form class="navbar-form navbar-left"  method="post" action="/search">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Search" name="juso"></br></br>
                                         <button type="submit" class="btn btn-default">주소 찾기</button>
                                    </div>
                                  </form>
                                  </a></li>
                              </ul>
                            </div>
                            </li>
    					</ul><!--/ uL#nav -->
    				</div><!-- /.dropdown -->

				<div class="clear"></div>
			</div><!--/.row -->
		</div><!--/.container -->

		<div class="clear"></div>
	</div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->


<script>

$("#button1").click(function(){
    $.ajax({
                 url: "/specify", // Route to the Script Controller method
                type: "POST",
            dataType: "json",
                data: { criminal: 1 }
    });
});

$("#button2").click(function(){
    $.ajax({
                 url: "/specify", // Route to the Script Controller method
                type: "POST",
            dataType: "Post",
                data: { criminal: 2 }
    });
});

$("#button3").click(function(){
    $.ajax({
                 url: "/specify", // Route to the Script Controller method
                type: "POST",
            dataType: "json",
                data: { criminal: 3 }
    });
});


var map = new naver.maps.Map('map', mapOptions);
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399), //지도의 초기 중심 좌표
    zoom: 13, //지도의 초기 줌 레벨
    minZoom: 1, //지도의 최소 줌 레벨
    scaleControl: true,
    logoControl: true,
    mapDataControl: true,
    zoomControl: true, //줌 컨트롤의 표시 여부
    zoomControlOptions: { //줌 컨트롤의 옵션
    position: naver.maps.Position.TOP_RIGHT
}};

//marker option
var menuLayer = $('<div style="position:absolute;z-index:10000;background-color:#fff;border:solid 1px #333;padding:10px;display:none;"></div>');

map.getPanes().floatPane.appendChild(menuLayer[0]);

var markerList = [];
var infowindowList =[];




<% @barbaries.each do |bar| %>
<% if bar.x||bar.y != nil %>

    var marker_bar = new naver.maps.Marker({
        position: new naver.maps.LatLng(<%= bar.x %>,<%= bar.y %>),
        map: map,
        icon: {
                url: "<%= asset_path( "#{bar.crime}.png") %>",
                size: new naver.maps.Size(50, 52),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
    });
        
    var contentString = [
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title" style="text-align:center">' + 
            '           <h3><%= bar.title %></h3>' + 
            '            <div onclick="closeOverlay()" title="닫기"></div>' + 
            '            </div>' + 
            '        <div class="body" style="height:68px; text-align:center">' +
            '    <p style="line-height: 100%"><%= bar.message %></p>' +
            '<div style="height:30px">'+
            '<div style="height:100%; width:40px">'+
            '<form action="/change" method="get" style="text-align:center">' +
            '<input type="hidden" name="cont_c" value="<%= bar.id %>" />'+
            '<a href="#" style="background-color:black" class = "btn btn-primary"onclick="this.parentNode.submit()">수정</a>'+
            '</form>'+
            '</div>'+
            '</div>'
        ].join('');
    
    var infowindow_bar = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        // backgroundColor: "#eee",
        // // borderColor: "#2db400",
        // borderWidth: 5,
        // anchorSize: new naver.maps.Size(30, 30),
        // anchorSkew: true,
        // anchorColor: "#eee",
        // pixelOffset: new naver.maps.Point(20, -20)
    });    
        
    markerList.push(marker_bar);
    infowindowList.push(infowindow_bar);

    <% end %>
<% end %>


// 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
function getClickHandler(seq) {
    return function(e) {
        var marker = markerList[seq],
            infoWindow = infowindowList[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}



for (var i=0, ii=markerList.length; i<ii; i++) {
    naver.maps.Event.addListener(markerList[i], 'click', getClickHandler(i));
}



naver.maps.Event.addListener(map, 'rightclick', function(e) {
    var coordHtml = 'Coord: '+ e.coord +'<br />Point: '+ e.point +'<br />Offset: '+ e.offset;

    menuLayer.show().css({
        left: e.offset.x,
        top: e.offset.y
    }).html(coordHtml);
});





//setOptions 메서드를 통해 옵션을 조정할 수도 있습니다.
map.setOptions("mapTypeControl", true); //지도 유형 컨트롤의 표시 여부


// 지도 인터랙션 옵션
$("#interaction").on("click", function(e) {
    e.preventDefault();

    if (map.getOptions("draggable")) {
        map.setOptions({ //지도 인터랙션 끄기
            draggable: false,
            pinchZoom: false,
            scrollWheel: false,
            keyboardShortcuts: false,
            disableDoubleTapZoom: true,
            disableDoubleClickZoom: true,
            disableTwoFingerTapZoom: true
        });

        $(this).removeClass("control-on");
    } else {
        map.setOptions({ //지도 인터랙션 켜기
            draggable: true,
            pinchZoom: true,
            scrollWheel: true,
            keyboardShortcuts: true,
            disableDoubleTapZoom: false,
            disableDoubleClickZoom: false,
            disableTwoFingerTapZoom: false
        });

        $(this).addClass("control-on");
    }
});

// 관성 드래깅 옵션
$("#kinetic").on("click", function(e) {
    e.preventDefault();

    if (map.getOptions("disableKineticPan")) {
        map.setOptions("disableKineticPan", false); //관성 드래깅 켜기
        $(this).addClass("control-on");
    } else {
        map.setOptions("disableKineticPan", true); //관성 드래깅 끄기
        $(this).removeClass("control-on");
    }
});

// 타일 fadeIn 효과
$("#tile-transition").on("click", function(e) {
    e.preventDefault();

    if (map.getOptions("tileTransition")) {
        map.setOptions("tileTransition", false); //타일 fadeIn 효과 끄기

        $(this).removeClass("control-on");
    } else {
        map.setOptions("tileTransition", true); //타일 fadeIn 효과 켜기
        $(this).addClass("control-on");
    }
});

// min/max 줌 레벨
$("#min-max-zoom").on("click", function(e) {
    e.preventDefault();

    if (map.getOptions("minZoom") === 10) {
        map.setOptions({
            minZoom: 1,
            maxZoom: 14
        });
        $(this).val(this.name + ': 1 ~ 14');
    } else {
        map.setOptions({
            minZoom: 10,
            maxZoom: 12
        });
        $(this).val(this.name + ': 10 ~ 12');
    }
});

//지도 컨트롤
$("#controls").on("click", function(e) {
    e.preventDefault();

    if (map.getOptions("scaleControl")) {
        map.setOptions({ //모든 지도 컨트롤 숨기기
            scaleControl: false,
            logoControl: false,
            mapDataControl: false,
            zoomControl: false,
            mapTypeControl: false
        });
        $(this).removeClass('control-on');
    } else {
        map.setOptions({ //모든 지도 컨트롤 보이기
            scaleControl: true,
            logoControl: true,
            mapDataControl: true,
            zoomControl: true,
            mapTypeControl: true
        });
        $(this).addClass('control-on');
    }
});

$("#interaction, #tile-transition, #controls").addClass("control-on");

//GPS 중심 map location

function onSuccessGeolocation(position) {
    var location = new naver.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);
    <% if params[:juso_x] || params[:juso_y] != nil %>
    location = new naver.maps.LatLng(<%= params[:juso_x] %>,<%= params[:juso_y] %>);
    <% end %>

    map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    map.setZoom(12); // 지도의 줌 레벨을 변경합니다.

    // if(location !== null){
    // map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    // map.setZoom(12); // 지도의 줌 레벨을 변경합니다.
    // } else{
    // location = new naver.maps.LatLng(position.coords.latitude,
    //                                      position.coords.longitude);
    // map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    // map.setZoom(12); // 지도의 줌 레벨을 변경합니다.
    // }
}

function onErrorGeolocation() {
    var center = map.getCenter();

}

$(window).on("load", function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
    } else {
        var center = map.getCenter();

    }
});


</script>

